--extra-index-url https://download.pytorch.org/whl/cu121

accelerate==1.10.0
torch==2.2.1+cu121
transformers==4.52.4
tokenizers==0.21.1
datasets==3.6.0
huggingface_hub==0.33.0
numpy==1.26.4
fsspec==2025.3.0
triton==2.2.0
protobuf==6.31.1
rouge-score==0.1.2
nltk==3.9.1
matplotlib==3.8.4